if TARGET_MX6UL_FLEX_WINKHUB2

config SYS_BOARD
	default "mx6ul_flex_winkhub2"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "mx6ul_flex_winkhub2"

endif
